[Unit]
Description=CamFlow configuration service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/camconfd

[Install]
WantedBy=multi-user.target
