[Unit]
Description=CamFlow configuration service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/camflow-config

[Install]
WantedBy=multi-user.target
